<ion-header>
 
    <div class="header">
      <div class="left"></div>
      <div class="center">
        <img src="https://d2ue829my6ap69.cloudfront.net/images/Logo_white.png" alt="">
      </div>
      <div class="rigth">
          <ion-icon ios="ios-power" md="md-power"     (click)="logoutAlert()"></ion-icon>
      </div>
    </div>
<ion-toolbar>
  <h2>
    Equal Employment Opportunity/Non Discrimination Policy
  </h2>
</ion-toolbar>

     

</ion-header>


<ion-content padding>
  <div class="dataScroll">
      <span class="para">Accion Labs is an equal opportunity employer. In accordance with anti-discrimination law, it is the purpose of this policy to effectuate these principles and mandates. Accion Labs prohibits discrimination and harassment of any type and affords equal employment opportunities to employees and applicants without regard to race, color, religion, sex, age, national origin, disability status, protected veteran status, or any other characteristic protected by law. Accion Labs conforms to the spirit as well as to the letter of all applicable laws and regulations.</span>
      <h4>Scope</h4>
      <span class="para">The policy of equal employment opportunity (EEO) and anti-discrimination applies to all aspects of the relationship between Accion Labs and its employees, including:</span>
      <ul>
          <li>Recruitment</li>
          <li>Employment</li>
          <li>Promotion</li>
          <li>Transfer</li>
          <li>Training</li>
          <li>Working conditions</li>
          <li>Wages and salary administration</li>
          <li>Employee benefits and application of policies</li>
      </ul>
      <span class="para">The policies and principles of EEO also apply to the selection and treatment of independent contractors, personnel working on our premises who are employed by temporary agencies and any other persons or firms doing business for or with Accion Labs.</span>
      <h5>Dissemination and Implementation of Policy</h5>
      <span class="para">The officers of Accion Labs will be responsible for the dissemination of this policy. Directors, managers and supervisors are responsible for implementing equal employment practices within each department. The HR department is responsible for overall compliance and will maintain personnel records in compliance with applicable laws and regulations.</span>
      <h5>Procedures</h5>
      <span class="para">Accion Labs administers our EEO policy fairly and consistently by:</span>
      <ul>
          <li>Posting all required notices regarding employee rights under EEO laws in areas highly visible to employees.</li>
          <li>Advertising for job openings with the statement "We are an equal opportunity employer and all qualified applicants will receive consideration for employment without regard to race, color, religion, sex, national origin, disability status, protected veteran status, or any other characteristic protected by law."</li>
          <li>Posting all required job openings with the appropriate state agencies.</li>
          <li>Forbidding retaliation against any individual who files a charge of discrimination, opposes a practice believed to be unlawful discrimination, reports harassment, or assists, testifies or participates in an EEO agency proceeding.</li>
          <li>Requires employees to report to a member of management, an HR representative or legal counsel any apparent discrimination or harassment. The report should be made within 48 hours of the incident.</li>
          <li>Promptly notifies legal counsel of all incidents or reports of discrimination or harassment and takes other appropriate measures to resolve the situation.</li>
      </ul>
      <h5>Remedies</h5>
      <span class="para">Violations of this policy, regardless of whether an actual law has been violated, will not be tolerated. Accion Labs will promptly, thoroughly and fairly investigate every issue that is brought to its attention in this area and will take disciplinary action, when appropriate, up to and including termination of employment.</span>
      <br><span>Accion Labs reserves the right to modify this policy at any time without notice.</span>
  </div>
</ion-content>
<ion-footer class="commonFooter">
  <button id="btn1"  (click)='agree()'>Agree</button>
  <button  id="btn2" (click)='disagree()'>Disagree</button>    
</ion-footer>